<div class='px-6 pt-6 lg:px-8 z-20 absolute w-full top-0 left-0 {{class}}'>
  <nav class='flex items-center justify-between h-9' aria-label='Global'>
    <div class='flex lg:min-w-0 lg:flex-1' aria-label='Global'>
      <a href='#' class='-m-1.5 p-1.5'>
        asioso
      </a>
    </div>

    <div class='hidden lg:flex lg:min-w-0 lg:flex-1 lg:justify-center lg:gap-x-12'>
      <a href='../../about.html' class='font-semibold text-gray-900 hover:text-gray-900'>About</a>

      <a href='/' class='font-semibold text-gray-900 hover:text-gray-900'>Home</a>
    </div>
  </nav>
</div>